# S2S Zonal statistics

Zonal statistics are run on the standardized [H3 grid](https://h3geo.org/docs/core-library/restable/); the process is run on a country-by-country basis.

For the zonal statistics, each zonal statistic is run against the source dataset as a whole, then it is stratified by urban classification from the European Commission - [GHS-SMOD](https://ghsl.jrc.ec.europa.eu/ghs_smod2019.php). This creates an summary dataset that has the standard zonal stats columns (SUM, MEAN, MAX, MIN) as well as the same for urban areas (SUM_urban, MEAN_urban, MAX_urban, MIN_urban).

In [1]:
import sys, os, importlib, math, multiprocessing
import rasterio, geojson

import pandas as pd
import geopandas as gpd
import numpy as np

from h3 import h3
from tqdm import tqdm
from shapely.geometry import Polygon

import GOSTrocks.rasterMisc as rMisc
import GOSTrocks.ntlMisc as ntl
from GOSTrocks.misc import tPrint

sys.path.append("../src")
import h3_helper
import global_zonal

%load_ext autoreload
%autoreload 2

/home/wb411133/.conda/envs/ee/lib/python3.9/site-packages/geopandas/_compat.py:106: UserWarning: The Shapely GEOS version (3.9.1-CAPI-1.14.2) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(

In [ ]:
admin_folder = "/home/wb411133/data/Global/ADMIN/"

In [11]:
h3_level = 6

adm0_bounds = "/home/public/Data/GLOBAL/ADMIN/Admin0_Polys.shp"
adm2_bounds = "/home/wb411133/data/Global/ADMIN/Admin2_Polys.shp"
out_folder = f"/home/wb411133/projects/Space2Stats/Population"
if not os.path.exists(out_folder):
    os.makedirs(out_folder)
global_urban = "/home/public/Data/GLOBAL/GHSL/SMOD/GHS_SMOD_E2020_GLOBE_R2023A_54009_1000_V1_0.tif"

## Run analysis on population by gender and age

In [3]:
population_folder = "/home/public/Data/GLOBAL/Population/WorldPop_PPP_2020/GLOBAL_1km_Demographics"
pop_files = [os.path.join(population_folder, x) for x in os.listdir(population_folder) if x.endswith("1km.tif")]

In [4]:
# get a list of h3 levels to process
h3_0_list = h3_helper.generate_lvl0_lists(6, return_gdf=True, buffer0=False)

Loading pickle file h0_dictionary_of_h6_geodata_frames.pickle: it exists True

In [31]:
inA.crs

<Projected CRS: EPSG:3857>
Name: WGS 84 / Pseudo-Mercator
Axis Info [cartesian]:
- X[east]: Easting (metre)
- Y[north]: Northing (metre)
Area of Use:
- name: World between 85.06°S and 85.06°N.
- bounds: (-180.0, -85.06, 180.0, 85.06)
Coordinate Operation:
- name: Popular Visualisation Pseudo-Mercator
- method: Popular Visualisation Pseudo Mercator
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [60]:
# Generate a list from the global admin boundaries
inA = gpd.read_file(adm2_bounds)
inA_0 = gpd.read_file(adm0_bounds)

def try_get_iso3(x):
    try:
        region = inA_0.loc[inA_0['ISO3'] == x,'Region'].values[0]
        if region is None:
            return('Other')
        return(region)
    except:
        print(f'Error getting region for {x}')
        return('Other')
inA['WB_REGION'] = inA['ISO3'].apply(try_get_iso3)
inA = inA.to_crs(4326)
region_mapping = {
    'Latin America & Caribbean':'LCR',
    'Other':'Other',
    'Sub-Saharan Africa':'AFR',
    'East Asia & Pacific':'EAP',
    'Middle East & North Africa':'MENA',
    'Europe & Central Asia':'ECA',
    'South Asia':'SAR'
}
inA['WB_REGION'] = inA['WB_REGION'].map(region_mapping)
inA['geometry'] = inA['geometry'].buffer(0)
inA = inA.loc[~inA['geometry'].apply(lambda x: x is None)]
inA.to_file(adm2_bounds)

Error getting region for None
Error getting region for None
Error getting region for None
Error getting region for None
Error getting region for None
Error getting region for None
Error getting region for None
Error getting region for None
Error getting region for None
Error getting region for None
Error getting region for None
Error getting region for None
Error getting region for None
Error getting region for None
Error getting region for None

In [29]:
AWS_S3_BUCKET = 'wbg-geography01'
AWS_ACCESS_KEY_ID = os.getenv("AWS_ACCESS_KEY_ID")
AWS_SECRET_ACCESS_KEY = os.getenv("AWS_SECRET_ACCESS_KEY")
AWS_SESSION_TOKEN = os.getenv("AWS_SESSION_TOKEN")

def run_zonal(gdf, cur_raster_file, out_file):
    cName = f'{os.path.basename(os.path.dirname(out_file))}-{os.path.basename(cur_raster_file)}'
    tPrint(f'Starting {cName}')
    res = rMisc.zonalStats(gdf, cur_raster_file, minVal=0)
    res = pd.DataFrame(res, columns=['SUM', 'MIN', 'MAX', 'MEAN'])
    res['id'] = gdf['shape_id'].values
    res.to_csv(
        f"s3://{AWS_S3_BUCKET}/{out_file}",
        index=False,
        storage_options={
            "key": AWS_ACCESS_KEY_ID,
            "secret": AWS_SECRET_ACCESS_KEY,
            "token": AWS_SESSION_TOKEN,
        },
    )
    #res.to_csv(out_file)
    tPrint(f'**** finished {cName}')
    return(res)

In [ ]:
# set up mp arguments
arg_list = []
processed_list = []

for h3_0_key, cur_gdf in h3_0_list.items():
    for pop_file in pop_files:
        filename = os.path.basename(f'{pop_file.replace(".tif", "")}_zonal.csv')
        out_s3_key = f'Space2Stats/h3_stats_data/ADM_GLOBAL/WorldPop_2020_Demographics/{h3_0_key}/{filename}'
        full_path = os.path.join("s3://", AWS_S3_BUCKET, out_s3_key)        
        try:
            tempPD = pd.read_csv(full_path)
            processed_list.append(filename)
        except:
            arg_list.append([cur_gdf, pop_file, out_s3_key])
    tPrint(f'Remaining: {len(arg_list)}\t Processed: {len(processed_list)}')

In [ ]:
with mp.pool(mp.cpu_count() - 10):
    res =

# DEBUGGING

In [63]:
all_files = global_zonal.get_global_table_from_s3("WorldPop_2020_Demographics", 
                                                  prefix='Space2Stats/h3_stats_data/ADM_GLOBAL/',
                                                  read_data=True)
all_files

{'global_f_0_2020_1km_zonal':                SUM       MIN         MAX       MEAN     id
 0      9271.396484  0.776875   18.729755   2.788390   2245
 1      4781.694336  0.902219   14.667562   2.646206   2246
 2      8980.358398  0.709510   22.562714   2.098705   2247
 3     12372.816406  0.806483   28.565184   3.262013   2248
 4     11200.134766  0.023843   18.526701   1.417559   2249
 ...            ...       ...         ...        ...    ...
 1345   6294.885742  0.002925   37.945431   1.862943  29170
 1346   4111.004883  0.001787   16.255522   0.609218  29171
 1347  14159.621094  0.241238  200.965500  17.633402  29172
 1348  15714.679688  0.000000   73.089981   9.501016  29173
 1349   8892.969727  0.010115   92.677490   4.588736  29174

 [37278 rows x 5 columns],
 'global_f_10_2020_1km_zonal':                SUM       MIN          MAX        MEAN     id
 0     36274.640625  3.037503    73.231514   10.909666   2245
 1     18885.472656  3.586561    57.348728   10.451285   2246
 2     37620.207031  2.774115    94.660629    8.791822   2247
 3     48633.781250  3.162321   112.698715   12.821983   2248
 4     37115.554688  0.099618    61.000000    4.697577   2249
 ...            ...       ...          ...         ...    ...
 1345  37513.863281  0.014951   251.885757   11.102060  29170
 1346  20531.839844  0.009260    77.930954    3.042655  29171
 1347  82813.828125  1.300494  1184.323853  103.130547  29172
 1348  91018.968750  0.000000   433.470245   55.029606  29173
 1349  49990.398438  0.054983   495.318695   25.794840  29174

 [37278 rows x 5 columns],
 'global_f_15_2020_1km_zonal':                SUM       MIN          MAX        MEAN     id
 0     36692.449219  3.071690    74.055725   11.035323   2245
 1     19663.763672  3.746459    57.994183   10.881994   2246
 2     36579.355469  2.805338    91.954155    8.548575   2247
 3     51395.753906  3.304038   122.519875   13.550159   2248
 4     36335.937500  0.066889    59.607220    4.598904   2249
 ...            ...       ...          ...         ...    ...
 1345  34683.945312  0.015326   233.212936   10.264559  29170
 1346  21551.156250  0.009148    83.736481    3.193710  29171
 1347  83894.437500  1.276160  1123.221924  104.476257  29172
 1348  91611.328125  0.000000   438.211304   55.387745  29173
 1349  46405.390625  0.046659   458.512177   23.944990  29174

 [37278 rows x 5 columns],
 'global_f_1_2020_1km_zonal':                SUM       MIN         MAX       MEAN     id
 0     31908.859375  2.663118   64.205406   9.596649   2245
 1     17038.632812  3.239107   50.280251   9.429238   2246
 2     36704.035156  2.432194   92.552391   8.577713   2247
 3     42622.070312  2.775658   98.130211  11.237034   2248
 4     34220.648438  0.108871   56.409302   4.331180   2249
 ...            ...       ...         ...        ...    ...
 1345  25179.794922  0.011700  151.783234   7.451848  29170
 1346  16444.181641  0.007148   65.022736   2.436897  29171
 1347  56639.046875  0.964960  803.869934  70.534302  29172
 1348  62859.343750  0.000000  292.362854  38.004440  29173
 1349  35572.234375  0.040460  370.713654  18.355125  29174

 [37278 rows x 5 columns],
 'global_f_20_2020_1km_zonal':                SUM       MIN          MAX        MEAN     id
 0     32504.404297  2.719561    65.566208    9.775761   2245
 1     17602.453125  3.354421    51.345913    9.741258   2246
 2     31624.519531  2.483743    79.442383    7.390633   2247
 3     48538.996094  3.047583   119.644318   12.796993   2248
 4     32053.072266  0.067936    52.516701    4.056838   2249
 ...            ...       ...          ...         ...    ...
 1345  29178.472656  0.013630   240.187317    8.635239  29170
 1346  18858.406250  0.008060    73.876610    2.794666  29171
 1347  91555.234375  1.154851  1069.731934  114.016479  29172
 1348  91746.156250  0.000000   433.204956   55.469261  29173
 1349  44130.796875  0.046467   437.177277   22.771309  29174

 [37278 rows x 5 columns],
 'global_f_25_2020_1km_zonal':                SUM       MIN         MAX        MEAN     id
 0     28086.351562  2.354136   56.756130    8.447023   2245
 1     14882.767578  2.830858   44.446606    8.236175   2246
 2     26421.953125  2.150004   66.326714    6.174796   2247
 3     40306.285156  2.358747   97.704681   10.626493   2248
 4     27565.068359  0.068765   45.323486    3.488807   2249
 ...            ...       ...         ...         ...    ...
 1345  28443.472656  0.014574  192.525482    8.417719  29170
 1346  19128.240234  0.008139   77.195549    2.834653  29171
 1347  82130.453125  1.271858  885.763489  102.279518  29172
 1348  86377.140625  0.000000  409.842865   52.223179  29173
 1349  43155.468750  0.046992  390.223633   22.268044  29174

 [37278 rows x 5 columns],
 'global_f_30_2020_1km_zonal':                SUM       MIN         MAX       MEAN     id
 0     21821.025391  1.830294   44.126762   6.562715   2245
 1     11711.517578  2.235414   34.556351   6.481194   2246
 2     20004.642578  1.671586   50.186996   4.675074   2247
 3     31163.580078  1.794636   75.839539   8.216077   2248
 4     19654.087891  0.054635   32.201172   2.487544   2249
 ...            ...       ...         ...        ...    ...
 1345  26205.992188  0.012897  162.402374   7.755547  29170
 1346  17056.316406  0.007284   71.635544   2.527611  29171
 1347  76668.976562  1.302808  841.672607  95.478180  29172
 1348  84421.109375  0.000000  386.996063  51.040573  29173
 1349  44067.457031  0.047368  390.455658  22.738626  29174

 [37278 rows x 5 columns],
 'global_f_35_2020_1km_zonal':                SUM       MIN         MAX        MEAN     id
 0     19659.210938  1.650380   39.789185    5.912545   2245
 1     10739.774414  2.051085   31.159527    5.943428   2246
 2     16695.488281  1.507272   41.806068    3.901727   2247
 3     28984.615234  1.642030   76.563179    7.641607   2248
 4     18632.304688  0.036779   30.574587    2.358221   2249
 ...            ...       ...         ...         ...    ...
 1345  29536.326172  0.013162  197.721283    8.741144  29170
 1346  17548.148438  0.007029   70.072060    2.600496  29171
 1347  87351.875000  1.471376  918.525940  108.781914  29172
 1348  92469.890625  0.000000  418.510162   55.906826  29173
 1349  47811.605469  0.047660  417.521759   24.670591  29174

 [37278 rows x 5 columns],
 'global_f_40_2020_1km_zonal':                SUM       MIN          MAX        MEAN     id
 0     15058.506836  1.261487    30.413340    4.528874   2245
 1      8072.524414  1.539214    23.817156    4.467363   2246
 2     14087.315430  1.152101    35.355274    3.292198   2247
 3     22885.656250  1.387514    58.657688    6.033656   2248
 4     14380.765625  0.030334    23.579424    1.820120   2249
 ...            ...       ...          ...         ...    ...
 1345  32244.601562  0.013236   212.232483    9.542646  29170
 1346  17527.199219  0.008049    71.413216    2.597392  29171
 1347  90423.804688  1.460194  1006.844849  112.607475  29172
 1348  96543.351562  0.000000   433.881775   58.369621  29173
 1349  49529.570312  0.048960   428.829681   25.557055  29174

 [37278 rows x 5 columns],
 'global_f_45_2020_1km_zonal':                SUM       MIN         MAX       MEAN     id
 0     14717.265625  1.240266   29.901724   4.426245   2245
 1      7068.062500  1.334700   23.416504   3.911490   2246
 2     11771.729492  1.132721   29.420916   2.751047   2247
 3     22201.712891  1.071148   56.538834   5.853339   2248
 4     13295.054688  0.019180   21.844078   1.682705   2249
 ...            ...       ...         ...        ...    ...
 1345  29490.755859  0.011396  195.541122   8.727658  29170
 1346  16195.360352  0.007249   61.469196   2.400024  29171
 1347  79795.179688  1.246252  914.279541  99.371330  29172
 1348  83423.140625  0.000000  376.498688  50.437206  29173
 1349  42233.300781  0.042773  354.395569  21.792210  29174

 [37278 rows x 5 columns],
 'global_f_50_2020_1km_zonal':                SUM       MIN         MAX       MEAN     id
 0     11807.195312  0.992297   23.923389   3.551036   2245
 1      5486.250000  1.033291   18.734776   3.036110   2246
 2     10788.548828  0.906253   27.051548   2.521278   2247
 3     17844.681641  0.937301   39.438496   4.704635   2248
 4     10421.435547  0.016705   17.124575   1.319002   2249
 ...            ...       ...         ...        ...    ...
 1345  28669.144531  0.010768  198.831726   8.484506  29170
 1346  15239.843750  0.006758   58.281116   2.258424  29171
 1347  78364.539062  1.152023  896.317505  97.589714  29172
 1348  80747.046875  0.000000  365.790924  48.819256  29173
 1349  41226.488281  0.041033  334.563721  21.272697  29174

 [37278 rows x 5 columns],
 'global_f_55_2020_1km_zonal':                SUM       MIN         MAX       MEAN     id
 0      9454.066406  0.793026   19.119148   2.843328   2245
 1      5407.140625  1.039492   14.972500   2.992330   2246
 2      8060.151367  0.724261   20.186344   1.883653   2247
 3     13438.409180  0.584758   34.115078   3.542950   2248
 4      8255.713867  0.011653   13.603992   1.044895   2249
 ...            ...       ...         ...        ...    ...
 1345  25285.408203  0.009327  175.094498   7.483104  29170
 1346  13223.914062  0.006300   51.379814   1.959679  29171
 1347  73855.171875  1.164751  791.587891  91.974060  29172
 1348  76799.007812  0.000000  345.152191  46.432289  29173
 1349  40061.097656  0.045125  313.223541  20.671362  29174

 [37278 rows x 5 columns],
 'global_f_5_2020_1km_zonal':                SUM       MIN          MAX       MEAN     id
 0     35316.230469  2.950806    71.141312  10.621423   2245
 1     18344.347656  3.480481    55.711864  10.151825   2246
 2     39634.691406  2.694936    99.887070   9.262606   2247
 3     47915.187500  3.139297   109.100906  12.632530   2248
 4     37088.800781  0.124267    60.979286   4.694191   2249
 ...            ...       ...          ...        ...    ...
 1345  34347.718750  0.014122   224.158981  10.165054  29170
 1346  20140.324219  0.008278    80.312637   2.984636  29171
 1347  77041.937500  1.260634  1094.655396  95.942635  29172
 1348  83946.859375  0.000000   401.702606  50.753845  29173
 1349  48332.203125  0.054349   489.609283  24.939217  29174

 [37278 rows x 5 columns],
 'global_f_60_2020_1km_zonal':                SUM       MIN         MAX       MEAN     id
 0      6549.240723  0.547984   13.211413   1.969696   2245
 1      3363.049805  0.637822   10.346062   1.861123   2246
 2      6323.068848  0.500467   15.877608   1.477698   2247
 3      9946.166016  0.527833   22.680079   2.622242   2248
 4      6913.490723  0.007368   11.465617   0.875015   2249
 ...            ...       ...         ...        ...    ...
 1345  21601.673828  0.006728  153.985748   6.392919  29170
 1346  10348.958984  0.004290   42.329586   1.533633  29171
 1347  69294.953125  1.119807  707.306152  86.295082  29172
 1348  71537.890625  0.000000  317.720367  43.251446  29173
 1349  38640.394531  0.039794  290.434296  19.938284  29174

 [37278 rows x 5 columns],
 'global_f_65_2020_1km_zonal':                SUM       MIN         MAX       MEAN     id
 0      5335.572266  0.447506   10.788964   1.604683   2245
 1      2744.260254  0.522501    8.449004   1.518683   2246
 2      4736.905273  0.408702   11.869785   1.107012   2247
 3      7958.277832  0.321488   17.412373   2.098149   2248
 4      4807.000000  0.004700    7.957742   0.608404   2249
 ...            ...       ...         ...        ...    ...
 1345  18924.419922  0.005049  139.139954   5.600598  29170
 1346   7922.772461  0.003172   31.070866   1.174092  29171
 1347  61399.542969  1.034971  590.624878  76.462692  29172
 1348  61366.820312  0.000000  284.170197  37.102066  29173
 1349  35087.093750  0.037450  258.691284  18.104795  29174

 [37278 rows x 5 columns],
 'global_f_70_2020_1km_zonal':                SUM       MIN         MAX       MEAN     id
 0      3529.363525  0.293757    7.082213   1.061463   2245
 1      2087.085693  0.387902    5.546191   1.155000   2246
 2      3609.760986  0.268284    9.076864   0.843599   2247
 3      5349.391113  0.270782   12.052467   1.410332   2248
 4      3725.108398  0.003798    6.184914   0.471473   2249
 ...            ...       ...         ...        ...    ...
 1345  15506.646484  0.003762  116.169418   4.589123  29170
 1346   6148.238770  0.002067   27.993408   0.911120  29171
 1347  49690.222656  0.893001  461.589111  61.880726  29172
 1348  49462.140625  0.000000  220.572937  29.904558  29173
 1349  30210.179688  0.032689  226.068771  15.588328  29174

 [37278 rows x 5 columns],
 'global_f_75_2020_1km_zonal':                SUM       MIN         MAX       MEAN     id
 0      2404.976318  0.202102    4.872505   0.723301   2245
 1      1257.871216  0.240276    3.815734   0.696110   2246
 2      1903.900879  0.184578    4.756106   0.444941   2247
 3      3525.498779  0.142792    7.581786   0.929475   2248
 4      2062.879395  0.001498    3.413373   0.261091   2249
 ...            ...       ...         ...        ...    ...
 1345   8843.197266  0.002121   67.874680   2.617105  29170
 1346   3865.858154  0.001300   15.268272   0.572889  29171
 1347  30004.242188  0.546800  288.161469  37.365185  29172
 1348  30267.796875  0.000000  121.269707  18.299757  29173
 1349  18714.714844  0.021047  127.181427   9.656715  29174

 [37278 rows x 5 columns],
 'global_f_80_2020_1km_zonal':                SUM       MIN         MAX       MEAN     id
 0      1898.274170  0.159563    3.846925   0.570910   2245
 1      1034.787109  0.198012    3.012586   0.572655   2246
 2      1697.581177  0.145727    4.258451   0.396724   2247
 3      2187.799316  0.130137    4.698296   0.576799   2248
 4      1783.740234  0.004088    2.964943   0.225761   2249
 ...            ...       ...         ...        ...    ...
 1345   6576.497070  0.001601   56.625561   1.946285  29170
 1346   3099.940430  0.001208   12.838853   0.459387  29171
 1347  29522.833984  0.568651  276.275330  36.765671  29172
 1348  29018.376953  0.000000  116.691040  17.544363  29173
 1349  17749.318359  0.021157  120.205292   9.158575  29174

 [37278 rows x 5 columns],
 'global_m_0_2020_1km_zonal':                SUM       MIN         MAX       MEAN     id
 0      9241.900391  0.772502   18.624338   2.779519   2245
 1      5173.923828  0.987282   14.585008   2.863267   2246
 2      9263.167969  0.705517   23.291132   2.164797   2247
 3     12605.826172  0.813139   29.688131   3.323445   2248
 4     10093.341797  0.028214   16.573509   1.277477   2249
 ...            ...       ...         ...        ...    ...
 1345   6423.233887  0.002884   39.089424   1.900927  29170
 1346   4176.877930  0.001784   16.374983   0.618980  29171
 1347  14636.206055  0.253403  203.409790  18.226906  29172
 1348  16133.548828  0.000000   72.721855   9.754262  29173
 1349   9195.429688  0.010272   95.993301   4.744804  29174

 [37278 rows x 5 columns],
 'global_m_10_2020_1km_zonal':                SUM       MIN          MAX        MEAN     id
 0     36917.652344  3.085964    74.399857   11.103053   2245
 1     19776.277344  3.763943    58.263676   10.944260   2246
 2     38936.984375  2.818374    98.002022    9.099552   2247
 3     50557.046875  3.319921   114.994247   13.329040   2248
 4     38490.683594  0.131659    63.274086    4.871622   2249
 ...            ...       ...          ...         ...    ...
 1345  37482.515625  0.014813   248.069778   11.092784  29170
 1346  20166.115234  0.008883    80.385292    2.988458  29171
 1347  85582.679688  1.356018  1216.036743  106.578682  29172
 1348  93363.109375  0.000000   445.888641   56.446861  29173
 1349  51736.656250  0.055551   522.503113   26.695902  29174

 [37278 rows x 5 columns],
 'global_m_15_2020_1km_zonal':                SUM       MIN          MAX        MEAN     id
 0     33394.144531  2.796414    67.419060   10.043352   2245
 1     18610.089844  3.562830    52.796909   10.298887   2246
 2     31894.160156  2.553931    80.097191    7.453648   2247
 3     48180.566406  3.020674   120.923744   12.702496   2248
 4     29876.546875  0.086730    48.631699    3.781363   2249
 ...            ...       ...          ...         ...    ...
 1345  32273.298828  0.013661   222.354660    9.551139  29170
 1346  20355.296875  0.008533    85.489510    3.016493  29171
 1347  89130.250000  1.309215  1227.838867  110.996574  29172
 1348  94145.031250  0.000000   443.807190   56.919609  29173
 1349  47494.941406  0.049723   494.881927   24.507195  29174

 [37278 rows x 5 columns],
 'global_m_1_2020_1km_zonal':                SUM       MIN         MAX       MEAN     id
 0     32912.007812  2.748665   66.267883   9.898348   2245
 1     17917.404297  3.411275   51.895401   9.915553   2246
 2     36753.789062  2.510323   92.633530   8.589341   2247
 3     42838.011719  2.761956  100.398407  11.293965   2248
 4     35707.605469  0.128301   58.803864   4.519378   2249
 ...            ...       ...         ...        ...    ...
 1345  25254.771484  0.011340  153.691193   7.474037  29170
 1346  16422.582031  0.007014   64.382904   2.433696  29171
 1347  57546.414062  0.996324  799.763489  71.664276  29172
 1348  63433.640625  0.000000  285.926666  38.351658  29173
 1349  36154.445312  0.040387  377.424988  18.655544  29174

 [37278 rows x 5 columns],
 'global_m_20_2020_1km_zonal':                SUM       MIN          MAX        MEAN     id
 0     25302.814453  2.112136    50.921730    7.609869   2245
 1     16279.167969  2.789052    40.264759    9.008947   2246
 2     22932.896484  1.928989    57.522205    5.359406   2247
 3     40215.496094  2.179574   116.514229   10.602556   2248
 4     21347.875000  0.057336    36.846928    2.701921   2249
 ...            ...       ...          ...         ...    ...
 1345  26540.964844  0.012772   197.738205    7.854681  29170
 1346  18017.041016  0.008603    72.969658    2.669982  29171
 1347  91984.335938  1.187498  1168.657227  114.550858  29172
 1348  89645.109375  0.000000   399.992737   54.198978  29173
 1349  41800.246094  0.044889   392.117889   21.568754  29174

 [37278 rows x 5 columns],
 'global_m_25_2020_1km_zonal':                SUM       MIN         MAX        MEAN     id
 0     20107.728516  1.678776   40.473808    6.047437   2245
 1     12776.397461  2.216805   31.695663    7.070502   2246
 2     18380.046875  1.533206   46.110966    4.295407   2247
 3     31444.380859  1.610556   88.383408    8.290109   2248
 4     16885.382812  0.051669   27.950724    2.137120   2249
 ...            ...       ...         ...         ...    ...
 1345  24794.851562  0.013197  145.856842    7.337926  29170
 1346  18093.232422  0.009065   74.720726    2.681273  29171
 1347  82655.765625  1.193957  991.424805  102.933708  29172
 1348  84412.593750  0.000000  370.178101   51.035427  29173
 1349  40556.953125  0.045764  355.776215   20.927221  29174

 [37278 rows x 5 columns],
 'global_m_30_2020_1km_zonal':                SUM       MIN         MAX       MEAN     id
 0     16374.882812  1.369625   33.020439   4.924777   2245
 1     10297.072266  1.808574   25.858816   5.698435   2246
 2     14577.190430  1.250862   36.552021   3.406682   2247
 3     25047.060547  1.278147   73.061935   6.603496   2248
 4     13132.375000  0.049748   23.105398   1.662116   2249
 ...            ...       ...         ...        ...    ...
 1345  23829.423828  0.012337  145.522400   7.052212  29170
 1346  16936.890625  0.007413   73.701302   2.509913  29171
 1347  78140.835938  1.278814  936.377502  97.311127  29172
 1348  83454.875000  0.000000  377.616821  50.456394  29173
 1349  42156.183594  0.047344  380.748169  21.752417  29174

 [37278 rows x 5 columns],
 'global_m_35_2020_1km_zonal':                SUM       MIN         MAX        MEAN     id
 0     15063.990234  1.260834   30.397585    4.530523   2245
 1      9152.681641  1.664917   23.804819    5.065125   2246
 2     13713.538086  1.151504   34.406338    3.204846   2247
 3     22947.304688  1.170669   67.797668    6.049909   2248

In [65]:
orig_files = all_files.copy()
inA = gpd.read_file(adm2_bounds)
for label, inD in orig_files.items():
    tempD = inD.set_index('id')
    tempA = inA.join(tempD)
    c_label = "_".join(label.split("_")[1:3])
    inA[c_label] = tempA['SUM']

In [66]:
inA.head()

,OBJECTID,ISO_A2,WB_ADM1_CO,WB_ADM0_CO,WB_ADM0_NA,WB_ADM1_NA,WB_ADM2_CO,WB_ADM2_NA,Shape_Leng,Shape_Area,...,m_40,m_45,m_50,m_55,m_5,m_60,m_65,m_70,m_75,m_80
0,1,AF,272,1,Afghanistan,Badakhshan,3445,Baharak,426829.104142,4.721102e+09,...,4204.877441,2760.053955,2042.870605,1643.195068,8620.248047,1423.365479,768.383423,657.413391,234.051926,194.463745
1,2,AF,272,1,Afghanistan,Badakhshan,3446,Darwaz,360455.172484,4.728969e+09,...,3135.317871,2061.960938,1529.525879,1233.140381,6418.612793,1068.314209,579.843018,492.286560,176.273575,147.215302
2,3,AF,272,1,Afghanistan,Badakhshan,3447,Fayzabad,298846.796442,4.631564e+09,...,11744.238281,7707.375000,5706.112305,4589.418945,24076.332031,3975.566162,2146.647461,1836.886353,653.836792,543.436035
3,4,AF,272,1,Afghanistan,Badakhshan,3448,Ishkashim,316148.305669,2.447967e+09,...,767.449646,504.885223,374.656250,302.177094,1570.741211,261.793060,142.223328,120.588257,43.221664,36.128349
4,5,AF,272,1,Afghanistan,Badakhshan,3449,Jurm,359146.510708,5.454013e+09,...,4500.886230,2954.054199,2186.755859,1758.863892,9227.073242,1523.586060,822.586670,703.841003,250.554550,208.213867

In [68]:
inA.columns

Index(['OBJECTID', 'ISO_A2', 'WB_ADM1_CO', 'WB_ADM0_CO', 'WB_ADM0_NA',
       'WB_ADM1_NA', 'WB_ADM2_CO', 'WB_ADM2_NA', 'Shape_Leng', 'Shape_Area',
       'ISO3', 'WB_REGION', 'geometry', 'f_0', 'f_10', 'f_15', 'f_1', 'f_20',
       'f_25', 'f_30', 'f_35', 'f_40', 'f_45', 'f_50', 'f_55', 'f_5', 'f_60',
       'f_65', 'f_70', 'f_75', 'f_80', 'm_0', 'm_10', 'm_15', 'm_1', 'm_20',
       'm_25', 'm_30', 'm_35', 'm_40', 'm_45', 'm_50', 'm_55', 'm_5', 'm_60',
       'm_65', 'm_70', 'm_75', 'm_80', 'f_total', 'm_total', 'f_youth',
       'm_youth'],
      dtype='object')

In [67]:
f_cols = ['f_0', 'f_10', 'f_15', 'f_1', 'f_20', 'f_25', 'f_30', 'f_35', 'f_40',
       'f_45', 'f_50', 'f_55', 'f_5', 'f_60', 'f_65', 'f_70', 'f_75', 'f_80']
m_cols = ['m_0', 'm_10', 'm_15', 'm_1', 'm_20', 'm_25', 'm_30', 'm_35', 'm_40',
       'm_45', 'm_50', 'm_55', 'm_5', 'm_60', 'm_65', 'm_70', 'm_75', 'm_80']
numeric_cols = f_cols + m_cols

for c_col in numeric_cols:
    inA[c_col] = inA[c_col].astype(int)

inA['f_total'] = inA.loc[:,f_cols].sum(axis=1)
inA['m_total'] = inA.loc[:,m_cols].sum(axis=1)

inA['f_youth'] = inA.loc[:,['f_20','f_25']].sum(axis=1)
inA['m_youth'] = inA.loc[:,['m_20','m_25']].sum(axis=1)

total_cols = ['f_total','m_total','f_youth','m_youth','geometry']

In [70]:
good_cols = ['ISO3','WB_REGION','WB_ADM0_NA','WB_ADM1_NA', 'WB_ADM2_NA']
inA.loc[:,good_cols+numeric_cols+total_cols].head()

,ISO3,WB_REGION,WB_ADM0_NA,WB_ADM1_NA,WB_ADM2_NA,f_0,f_10,f_15,f_1,f_20,...,m_60,m_65,m_70,m_75,m_80,f_total,m_total,f_youth,m_youth,geometry
0,AFG,SAR,Afghanistan,Badakhshan,Baharak,1999,8950,7148,6070,5263,...,1423,768,657,234,194,56985,70603,8761,12848,"POLYGON ((71.31934 37.24848, 71.31261 37.24059..."
1,AFG,SAR,Afghanistan,Badakhshan,Darwaz,1487,6661,5322,4523,3930,...,1068,579,492,176,147,42579,52670,6555,9588,"POLYGON ((70.99956 38.47933, 71.00709 38.47256..."
2,AFG,SAR,Afghanistan,Badakhshan,Fayzabad,5583,25000,19969,16959,14701,...,3975,2146,1836,653,543,159189,197217,24472,35888,"POLYGON ((70.76822 37.28326, 70.77164 37.28042..."
3,AFG,SAR,Afghanistan,Badakhshan,Ishkashim,363,1630,1302,1107,962,...,261,142,120,43,36,10419,12886,1605,2346,"POLYGON ((71.46068 37.18361, 71.44989 37.18064..."
4,AFG,SAR,Afghanistan,Badakhshan,Jurm,2139,9581,7652,6499,5634,...,1523,822,703,250,208,61002,75574,9378,13753,"POLYGON ((71.18169 36.49196, 71.17219 36.48955..."

In [71]:
out_folder = "/home/wb411133/temp/ADM2_ZONAL"
if not os.path.exists(out_folder):
    os.makedirs(out_folder)
    
inA.loc[:,good_cols+numeric_cols+total_cols].to_file(os.path.join(out_folder, "TOTAL_adm_zonal_pop.shp"))
inA.loc[:,good_cols+total_cols].to_file(os.path.join(out_folder, "SIMPLE_adm_zonal_pop.shp"))